.App {
  text-align: center;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-div {
  margin-top: 15rem;
}

.hide-div {
  margin-top: 1rem;
}

.toggle-div {
  margin-top: 5rem;
}

.img-div {
  margin-top: 5rem;
}

button {
  padding: 1rem;
  border-radius: 1.87rem;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.back-button {
  background-color:rgb(255, 196, 0);
}

.next-button {
  background-color:rgb(212, 0, 255);
}

.show-button {
  background-color:chartreuse;
}

.hide-button {
  background-color:rgb(255, 0, 0);
}